@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.hi {
  width: 10px;
  height: 10px;
  background-color: black;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --main-color: rgb(255, 34, 26);
  --secondary-color: rgb(255, 188, 45);
  --third-color: rgb(255, 204, 62);
  --white-color: rgb(244, 244, 244);
  --black-color: rgb(28, 28, 28);
  --gray-color-50: rgba(69, 69, 69, 0.5);
  height: 100%;
  width: 100%;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black-color) !important;
}

p {
  margin-bottom: 0 !important;
}

.headerContainer {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  column-gap: 5px;
}

.chunky {
  font-size: 4rem;
}

.notSoChunky {
  font-size: 3rem;
}

.notChunky {
  font-size: 2rem;
  color: var(--main-color);
}

.notChunkyAtAll {
  font-size: 1.5rem;
  color: var(--main-color);
}

.doubleContainer {
  display: flex;
  justify-content: space-between;
}

.firstContainer {
  color: var(--white-color);
  padding-right: 150px;
}

.firstContainerText {
  color: var(--white-color);
  font-size: 1.5rem;
}

.coloredText {
  color: var(--main-color);
}

.white {
  color: var(--white-color);
}

.centeringContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endContainer {
  padding-bottom: 50px;
}

.videoPlayerDiv {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPlayerDivDiv {
  width: 80%;
  height: 80%;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.1), 0 4px 8px var(--main-color);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.playIcon {
  color: var(--main-color);
  font-size: 5rem;
  transition: color 0.3s;
}

.videoPlayerDivDiv:hover {
  background-color: var(--main-color);
  box-shadow: 4px 4px 8px var(--white-color), 0 4px 8px var(--white-color);
  cursor: pointer;
}

.videoPlayerDivDiv:hover .playIcon {
  color: var(--white-color);
}

/*# sourceMappingURL=facts.css.map */
