:host {
    --main-color: rgb(255, 136, 0);
    --secondary-color: rgb(255, 188, 45);
    --third-color: rgb(255, 204, 62);
    --white-color: rgb(244, 244, 244);
    --black-color: rgb(28, 28, 28);
    --gray-color-50: rgba(69, 69, 69, 0.5);  
    height: 100%;
    width: 100%; 
}

html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

.siteContainer {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);   
    height: 1000px;
    position: fixed;
}

.header {
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    font-size: 4rem;
}

.BlockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.block {
    height: 350px;
    width: 300px;
    border-radius: 20px;
//    box-shadow: 0 4px 8px var(--main-color), 0 6px 20px var(--main-color);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(255, 255, 255, 0.19);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    .blockIcon {
        color: var(--black-color);
        .nonFunctionalFuckingBlud {
            font-size: 6rem;
            z-index: 1;
            transition: all 0.5s ease;
        }
    }   
}

.block:hover {
    box-shadow: 0 4px 8px var(--main-color), 0 6px 20px var(--main-color);
    height: 350px;
    width: 370px;
    .nonFunctionalFuckingBlud {
        color: var(--main-color);
    }
}

.underBlockText {
    margin-top: 15px;
    font-size: 1rem;
    color: var(--main-color);
}